* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}
body {
  background-size: cover;
  overflow-y: hidden;
}
.container-bg {
  backdrop-filter: blur(10px) saturate(166%);
  -webkit-backdrop-filter: blur(10px) saturate(166%);
  background-color: rgba(17, 25, 40, 0.29);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}
.container-raw {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 350px;
  margin: 0 auto;
}
.container-raw .top {
  flex-basis: 7%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--blue);
  color: #fff;
  position: relative;
}
.container-raw .top img {
  width: 45px;
  border-radius: 50%;
  margin: 12px 10px;
  cursor: pointer;
}
.container-raw .top i {
  font-size: 25px;
  border-radius: 50%;
  margin: 12px 20px;
  cursor: pointer;
}
.container-raw .top .user-settings-height {
  max-height: 450px !important;
}
.container-raw .top .user-settings {
  background: #fff;
  position: absolute;
  right: 5%;
  top: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  width: 200px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s;
  color: black;
  z-index: 555;
}
.container-raw .top .user-settings a {
  display: block;
  text-decoration: none;
  color: #1D6BC5;
  line-height: 2;
  padding: 7px 20px;
  font-weight: 600;
}
.container-raw .top .user-settings a:hover {
  color: white;
  background: #1D6BC5;
}
.container-raw .top .user-settings .post-header .user-name p {
  font-weight: 500;
}
.container-raw .top .user-settings .post-header .user-name a {
  text-decoration: none;
  color: var(--blue);
  font-size: 12px;
}
.container-raw .top .user-settings .settings-link {
  display: flex;
  align-items: center;
}
.container-raw .top .user-settings .settings-link a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  text-decoration: none;
  color: #626262;
  font-size: 15px;
}
.container-raw .top .sidebar {
  position: absolute;
  background-color: white;
  height: 100vh;
  z-index: 555;
  top: 0;
  left: 0;
  width: 60%;
  padding-top: 20px;
  display: none;
  transition: all linear 5s;
}
.container-raw .top .sidebar a {
  display: block;
  text-decoration: none;
  color: #275670;
  font-size: 18px;
  padding: 15px;
}
.container-raw .top .sidebar i {
  color: black;
  position: absolute;
  z-index: 999;
  top: 0;
  left: 75%;
  font-size: 18px;
}
.container-raw .top .overlay {
  position: absolute;
  right: 0;
  top: 0;
  width: 40%;
  height: 100vh;
  z-index: 555;
  opacity: 0;
  background-color: black;
}
.container-raw .middle {
  flex-basis: 83%;
  background: #EFEFEF;
  overflow-y: scroll;
  padding: 15px 10px;
}
.container-raw .middle .card .card-body .todo_list_items {
  padding-left: 0 ;
  display: flex;
  flex-direction: column-reverse;
}
.container-raw .middle .card .card-body .todo_list_items li {
  list-style: none;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  text-transform: capitalize;
  font-weight: 600;
  line-height: 20px;
  vertical-align: middle;
  margin: 10px 0;
}
.container-raw .middle .card .card-body .todo_list_items li label {
  display: flex;
  align-items: center;
}
.container-raw .middle .card .card-body .todo_list_items li label input {
  height: 20px;
  width: 20px;
  margin-right: 5px;
}
.container-raw .middle .card .card-body .todo_list_items li button {
  background-color: transparent;
  border: none;
  color: red;
}
.container-raw .bottom {
  flex-basis: 7%;
  background: var(--blue);
  position: relative;
  padding: 10px 0;
}
.container-raw .bottom .menu-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.container-raw .bottom .menu-container .menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
.container-raw .bottom .menu-container .menu i {
  margin-bottom: 5px;
  line-height: 2;
  font-size: 16px;
}
.container-raw .bottom .menu-container .menu:hover {
  color: #2F7EFD;
  background: #fff;
}
